{% extends "partials/auth-base.html" %}

{% load static %}
{% block content %}



  <div class="auth-main">
    <div class="auth-wrapper v2">
      <div class="auth-sidecontent">
        <img src="{% static "assets/images/authentication/img-auth-sideimg.jpg" %}" alt="images"
          class="img-fluid img-auth-side">
      </div>
      <div class="auth-form">
        <div class="card my-5">          
          <div class="card-body">
            <h1 class="text-center f-w-500 mb-3 success"><i class="fas fa-check-circle"></i></h1>

              

            <h4>An email containing the reset link  has been sent to your registered email address. Please check and follow the instructions in that mail to proceed.</h4>
                
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ Main Content ] end -->

  {% endblock content %}